# Firebase Configuration - Conciliador Contábil Base de Conhecimento
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=base-de-conhecimento-cc.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=base-de-conhecimento-cc
VITE_FIREBASE_STORAGE_BUCKET=base-de-conhecimento-cc.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_CLOUDFLARE_R2_URL=https://pub-47b999e464d143b8a140a73baf6ef575.r2.dev
